@import 'tailwindcss';
@import "tw-animate-css";


:root {
  --background: oklch(0.9596 0.0190 192.8157);
  --foreground: oklch(0.1496 0 0);
  --card: oklch(0.9709 0.0152 181.7862);
  --card-foreground: oklch(0.1496 0 0);
  --popover: oklch(0.9808 0.0098 181.4151);
  --popover-foreground: oklch(0.1496 0 0);
  --primary: oklch(0.7027 0.1806 153.0920);
  --primary-foreground: oklch(0.9791 0 0);
  --secondary: oklch(0.8190 0.0898 210.0943);
  --secondary-foreground: oklch(0.2520 0 0);
  --muted: oklch(0.8796 0.0397 196.4513);
  --muted-foreground: oklch(0.5486 0 0);
  --accent: oklch(0.9203 0.1001 175.1410);
  --accent-foreground: oklch(0.2520 0 0);
  --destructive: oklch(0.7198 0.1802 9.7957);
  --destructive-foreground: oklch(0.9791 0 0);
  --border: oklch(0.6956 0.1724 154.8635);
  --input: oklch(0.9499 0.0153 181.7740);
  --ring: oklch(0.7305 0.1604 161.9161);
  --chart-1: oklch(0.7305 0.1604 161.9161);
  --chart-2: oklch(0.8190 0.0898 210.0943);
  --chart-3: oklch(0.9203 0.1001 175.1410);
  --chart-4: oklch(0.7993 0.1293 160.2356);
  --chart-5: oklch(0.6587 0.1673 153.6628);
  --sidebar: oklch(0.9500 0.0194 184.9106);
  --sidebar-foreground: oklch(0.2520 0 0);
  --sidebar-primary: oklch(0.7027 0.1806 153.0920);
  --sidebar-primary-foreground: oklch(0.9791 0 0);
  --sidebar-accent: oklch(0.8489 0.1198 175.0798);
  --sidebar-accent-foreground: oklch(0.2520 0 0);
  --sidebar-border: oklch(0.9596 0.0143 180.7072);
  --sidebar-ring: oklch(0.7027 0.1806 153.0920);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 2px 4px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 4px 6px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 8px 10px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 2.50);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2241 0.0396 215.0011);
  --foreground: oklch(0.9204 0.0144 180.6844);
  --card: oklch(0.2797 0.0399 211.2910);
  --card-foreground: oklch(0.9204 0.0144 180.6844);
  --popover: oklch(0.2797 0.0399 211.2910);
  --popover-foreground: oklch(0.9204 0.0144 180.6844);
  --primary: oklch(0.9203 0.1001 175.1410);
  --primary-foreground: oklch(0.2241 0.0396 215.0011);
  --secondary: oklch(0.7806 0.1005 200.1695);
  --secondary-foreground: oklch(0.2241 0.0396 215.0011);
  --muted: oklch(0.3195 0.0297 209.6461);
  --muted-foreground: oklch(0.7806 0.1005 200.1695);
  --accent: oklch(0.6806 0.1206 159.6913);
  --accent-foreground: oklch(0.9204 0.0144 180.6844);
  --destructive: oklch(0.6801 0.1905 10.0793);
  --destructive-foreground: oklch(0.2241 0.0396 215.0011);
  --border: oklch(0.3804 0.0601 209.8047);
  --input: oklch(0.3188 0.0398 210.9860);
  --ring: oklch(0.7200 0.1100 200.3052);
  --chart-1: oklch(0.7200 0.1100 200.3052);
  --chart-2: oklch(0.7806 0.1005 200.1695);
  --chart-3: oklch(0.6806 0.1206 159.6913);
  --chart-4: oklch(0.4267 0.0751 214.2015);
  --chart-5: oklch(0.2801 0.0299 209.8798);
  --sidebar: oklch(0.2597 0.0401 211.3792);
  --sidebar-foreground: oklch(0.9387 0.0099 181.3993);
  --sidebar-primary: oklch(0.7027 0.1806 153.0920);
  --sidebar-primary-foreground: oklch(0.9791 0 0);
  --sidebar-accent: oklch(0.8489 0.1198 175.0798);
  --sidebar-accent-foreground: oklch(0.2797 0.0399 211.2910);
  --sidebar-border: oklch(0.3799 0.0303 208.9422);
  --sidebar-ring: oklch(0.7027 0.1806 153.0920);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}